<footer class="page-footer font-small  pt-4" style="background-color: #789659">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h5 class="text-white">Siga-nos nas redes sociais ♡</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-network">
                <li>
                    <a href="https://github.com/jhonatanferreira94" target="_blank" class="iconGit">
                        <i class="fa fa-github-alt" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/jhonatanferr/" target="_blank" class="iconIn">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <div class="footer-copyright text-center py-3" style="background-color: #576e40">
        <span class="text-light"> © 2022 Copyright: </span>
        <a class="text-light" target="_blank" href="https://brazil.generation.org/"> brasil.generation.org</a>

    </div>

</footer>