<div class="container-fluid">

  <div class="row d-flex align-items-center">

    <div class="col-md-6">

      <div class="rom d-flex justify-content-center">
        <div class="col-md-10 justify-content-center">
          <h1 class="text-center color" style="color: #789659">Cadastro</h1>

          <div class="form-group">
            <label for="nome">Nome:</label>
            <input class="form-control" type="text" name="nome" id="nome">
          </div>

          <div class="form-group">
            <label for="usuario">Usuário:</label>
            <input class="form-control" type="text" name="usuario" id="usuario">
          </div>

          <div class="form-group">
            <label for="foto">Link da foto:</label>
            <input class="form-control" type="text" name="foto" id="foto">
          </div>

          <div class="form-group">
            <label for="senha">Senha:</label>
            <input class="form-control" type="text" name="senha" id="senha">
          </div>

          <div class="form-group">
            <label for="confirmSenha">Confirmar senha:</label>
            <input class="form-control" type="text" name="senha" id="senha">
          </div>

          <div class="form-group">
            <label for="usuario">Tipo de usuário:</label>
            <select class="form-control" name="" id="tipo">
              <option>Selecione um tipo de usuário:</option>
              <option value="normal">Normal</option>
              <option value="adm">Adminstrador</option>
            </select>
          </div>

          <div class="d-flex justify-content-center canCad">
            <button type="submit" class="btn col-md-3 text-white mr-4" style="background-color: #d35151" routerLink="/entrar">Cancelar</button>
            <button type="submit" class="btn col-md-3 text-white mr-4" style="background-color: #789659">Cadastrar</button>

          </div>

        </div>
      </div>

    </div>

    <div class="col-md-6" id="img-bg">

    </div>
  </div>
</div>
