<div class="container-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-md-6">

            <div class="rom d-flex justify-content-center">
                <div class="col-md-6 justify-content-center">
                    <h1 class="text-center" style="color: #789659">Entrar</h1>
                    <div class="form-group">
                        <label for="usuario">Usuário:</label>
                        <input class="form-control" type="text" name="usuario" id="usuario">
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input class="form-control" type="password" name="senha" id="senha">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn col-md-12" style="background-color: #789659">Entrar</button>
                    </div>

                    <hr class="mt-5 m-5">
                    <p class="text-center text-gray">Não tem uma conta? <a routerLink="/cadastrar" style="color: #617a48">Cadastre-se</a></p>
                </div>
            </div>

        </div>

        <div class="col-md-6" id="img-bg">

        </div>
    </div>
</div>